@model IEnumerable<PoliziaMunicipale_MVC.Verbale>

@{
    ViewBag.Title = "Index";
}

<nav class="navbar navbar-expand-lg navbar-light bg-primar text-white">

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                @Html.ActionLink("Violazioni per anagrafica", "VisualizzaTotaleVerbaliTrascrittiPerTrasgressore", "Verbali", new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Violazioni per punti", "VisualizzaTotalePuntiDecurtatiPerTrasgressore", "Verbali", new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Violazioni per punti (10)", "VisualizzaViolazioniDieci", "Verbali", new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Violazioni per importo (400)", "VisualizzaViolazioniConImportoElevato", "Verbali", new { @class = "nav-link" })
            </li>

        </ul>
    </div>
</nav>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdVerbale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataViolazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndirizzoViolazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NominativoAgente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataTrascrizioneVerbale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Importo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DecurtamentoPunti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdAnagrafica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdViolazione)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdVerbale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataViolazione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndirizzoViolazione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NominativoAgente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataTrascrizioneVerbale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Importo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DecurtamentoPunti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdAnagrafica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdViolazione)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
