@model List<ViolazionePuntiDieciQuattrocento>

<nav class="navbar navbar-expand-lg navbar-light">

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                @Html.ActionLink("Violazioni per anagrafica", "VisualizzaTotaleVerbali", "Verbali", new { @class = "nav-link text-primary fw-bolder" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Violazioni per punti", "VisualizzaTotalePunti", "Verbali", new { @class = "nav-link text-primary fw-bolder" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Violazioni per punti (10)", "VisualizzaViolazioniDieci", "Verbali", new { @class = "nav-link text-primary fw-bolder" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Violazioni per importo (400)", "VisualizzaViolazioniQuattrocento", "Verbali", new { @class = "nav-link text-primary fw-bolder" })
            </li>

        </ul>
    </div>
</nav>

<h4 class="text-bg-primary text-center p-2">Violazioni con importo superiore a 400 euro</h4>

<table class="table">
    <thead>
        <tr style="background-color: #007bff; color: white;">
            <th>Importo</th>
            <th>Cognome trasgressore</th>
            <th>Nome trasgressore</th>
            <th>Data violazione</th>
            <th>Decurtamento punti</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var violazione in Model)
        {
            <tr>
                <td>@violazione.Importo.ToString("C")</td>
                <td>@violazione.CognomeTrasgressore</td>
                <td>@violazione.NomeTrasgressore</td>
                <td>@violazione.DataViolazione.ToString("dd/MM/yyyy")</td>
                <td>@violazione.DecurtamentoPunti</td>
            </tr>
        }
    </tbody>
</table>
